.github         export-ignore
.ocamlformat    export-ignore
yarn.lock       export-ignore
package.json    export-ignore

*.sh text eol=lf
*.ml text eol=lf
*.mli text eol=lf
*.c text eol=lf
*.h text eol=lf
